.header-content
  display flex
  align-items center
  padding 29px 0
  +min(mobile)
    padding 32px 0
  +min(large)
    padding 47px 0

.btn
  color #388AF3
  font-weight: 800
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.02em
  text-transform: uppercase
  display inline-flex
  align-items center
  i
    display flex
    align-items center
    justify-content center
    position relative
    padding-right 12px
    margin-left 20px
    &::before
      content ''
      position absolute
      top 50%
      left calc(50% - 16px)
      transform translate(-50%, -50%)
      width 61px
      height 61px
      border: 1px solid #E2E2E2
      border-radius: 50%
    svg
      width 15px
      height 14px

.logo
  color #303030
  font-weight: 800
  font-size: 30px
  line-height: 37px
  +min(mobile)
    font-size: 40px
    line-height: 50px

.header-menu
  margin 0
  padding 0
  list-style-type none
  display flex
  align-items center
  display none
  +min(large)
    display flex
    grid-column-gap 50px
    margin 0 auto
    position: relative
    left: 14.5%
  a
    font-weight: 700
    font-size: 18px
    line-height: 22px
    position relative
    color #282828
    &:hover
    &.router-link-exact-active
      color #388AF3
      &::before
        opacity 1
    &::before
      content ''
      position absolute
      border-radius: 50%
      bottom -12px
      left 50%
      transform translate(-50%, -50%)
      width 7px
      height 7px
      background-color #388AF3
      transition $trans
      opacity 0


.header-btn-menu
  margin-left auto
  +min(mobile)
    display none

.header-btn
  margin-left 50px
  +max(mobile)
    display none

.header-lang
  display flex
  margin-left auto
  grid-column-gap 15px
  +max(mobile)
    display none
  a
    color #979BAD
    display block
    position relative
    font-weight: 600
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.02em
    &::before
      content ''
      position absolute
      bottom -10px
      left calc(50% - 2px)
      transform translate(0, -50%)
      width 4px
      height 4px
      background-color #388AF3
      border-radius 50%
      opacity 0
      transition $trans
    &.-active
    &:hover
      color #388AF3
      &::before
        opacity 1